

body{
    background-image: url("https://www.shutterstock.com/image-illustration/golden-wallpaper-honeycomb-elements-bees-600w-106426676.jpg");
    background-attachment: fixed;
    background-size: auto;
}



